@import 'variables.scss';

body {
    margin: 0;
}

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.hightlight-red {
    color: $color-red;
}

@import "icon/iconfont.css"